.title {
    color: var(--text);
}

.text {
    color: var(--text);
}

.accent .title {
    color: var(--accent);
}


.accent .text {
    color: var(--accent);
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.size_s .title {
    font: var(--font-m);
}

.size_s .text {
    font: var(--font-m);
}

.size_m .title {
    font: var(--font-m);
}

.size_m .text {
    font: var(--font-m);
}

.size_l .title {
    font: var(--font-l);
}

.size_l .text {
    font: var(--font-l);
}

.bold .title {
    font-weight: 700;
}

.bold .text {
    font-weight: 700;
}
