.ratingWrapper {
	position: relative;
}

.star {
	width: 25px;
	height: 25px;
	padding: 2px;
}

.pointer {
	cursor: pointer;
}

.filled {
	fill: var(--primary);
}

.errorMessage {
	position: absolute;
	bottom: -20px;
	left: 0;
	color: var(--red);
}

.error {
	stroke: var(--red);
}