.Advantages {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
}

.violet {
    border-left: 2px solid #5d6eff;
    padding-left: 8px;
}

.green {
    border-left: 2px solid #256b0e;
    padding-left: 8px;
}

.orange {
    border-left: 2px solid #cc7125;
    padding-left: 8px;
}
