@import url('./variables/global.css');
@import url('./reset.css');

html {
    font-family: Roboto, sans-serif;
    color: var(--text);
}

main {
    max-width: var(--max-width-content);
    padding: 10px;
    width: 100%;
    margin: auto;
}
