.Description {
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.card {
    border: 2px solid var(--border);
    padding: 24px;
    border-radius: 24px;
    display: flex;
    gap: 24px
}

.title {
    margin-top: 64px;
}

.icon {
    font-size: 48px;
    padding: 8px;
    border: 2px solid #698ee4;
    border-radius: 16px;
    color: #698ee4;
}
