:root {
	--black: #3B434E;
	--grey-light: #EBEBEB;
	--grey: #B3C0D9;
	--white: #FFF;
	--primary: #7653FC;
	--red-dark: #DE0000;
	--red: #FC836D;
	--green: #1DC37E;
	--green-light: #C8F8E4;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html, body {
	color: var(--black);
	background-color: #F5F6F8;
}

a {
	color: inherit;
	text-decoration: none;
}