.Header {
    border-bottom: 2px solid var(--border);
}

.headerWrapper {
    max-width: var(--max-width-content);
    padding: 16px;
    width: 100%;
    margin: auto;
}

.logo {
    cursor: pointer;
}
